<html>
	<head>
        <img src="logo.png" width="25%" height="25%" />
		<h1>Monash Delivery Service</h1>
		<ul>
            <li><a href="/31458483/vasleigh/adddriver">Add Driver</a></li>
            <li><a href="/31458483/vasleigh/listalldrivers">List All Drivers</a></li>
            <li><a href="/31458483/vasleigh/deletedriver">Delete Driver</a></li>
			<li><a href="/31458483/vasleigh/addpackage">Add Package</a></li>
            <li><a href="/31458483/vasleigh/listallpackages">List All Packages</a></li>
            <li><a href="/31458483/vasleigh/deletepackage">Delete Packages</a></li>
        </ul>
	</body>
    <footer>
        <p>Author: Vasleigh Apostolou</p>
        <p>Student Number: 31458483</p>
        <p>Monash Delivery Service helps streamline the delivery processes by allocating packages to drivers.</p>
        <address>Email: vapo0002@student.monash.edu</address>
    </footer>
</html>